<!DOCTYPE html>
<html lang="en">

<!--Loading head information & navbar-->
<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
<script>
    $(function () {
        $("#navbar").load("templates/navbar-with-exit.handlebars")
    });
</script>
<div id="navbar"></div>

<!--Main body of page-->
<body>

    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td>Host Name</td>
            </tr>
        </table>
    </div>

    <div class="flexbox flex-tabs">
        <a href="#">
            <div>Upcoming Events</div>

        </a>
        <a href="#">
            <div class="active">Past Events</div>
        </a>
    </div>

    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td><a href="/eventpage">Event</a></td>
            </tr>
            <tr>
                <td>
                    <p>Date | Time | Location</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td><a href="/eventpage">Event</a></td>
            </tr>
            <tr>
                <td>
                    <p>Date | Time | Location</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td><a href="/eventpage">Event</a></td>
            </tr>
            <tr>
                <td>
                    <p>Date | Time | Location</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td><a href="/eventpage">Event</a></td>
            </tr>
            <tr>
                <td>
                    <p>Date | Time | Location</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td><a href="/eventpage">Event</a></td>
            </tr>
            <tr>
                <td>
                    <p>Date | Time | Location</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                <td><a href="/eventpage">Event</a></td>
            </tr>
            <tr>
                <td>
                    <p>Date | Time | Location</p>
                </td>
            </tr>
        </table>
    </div>

    <!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>